@panel-prefix-cls: ~'@{prefixCls}-panel';

.@{panel-prefix-cls}{
  border: 1px solid @gray;
  &-header{
    padding: @padding-big;
    border-bottom: 1px solid @gray;
  }
  &-wrapper{
    display: flex;
    .flex_center();
    justify-content: space-between;
  }
  &-title{
    font-size: @title-font-size;
    color: @title-color;
    font-weight: @title-font-weight;
  }
  &-border{
    border: 1px solid transparent;
  }
  &-content{
    padding: @padding-big;
  }
}
